@page "/scores"

@rendermode InteractiveServer

@inject FoolDataManager DataManager

<PageTitle> Таблицы рекордов</PageTitle>

<h3>@selectedBoard</h3>

<select @onchange="OnGameSelected">
    <option value="">Список игр</option>

    @foreach (var game in gameRecord)
    {
        <option value="@game">@game</option>
    }
</select>

@if (IsGameSelected)
{
    @if (scores is null)
    {
        <p>
            Загружаем рекорды...
        </p>
    }
    else if (scores.Any())
    {
        <br />
        <br />
        <div class="statistics-container">
            <table class="score-table">
                <thead>
                    <tr>
                        <th>Игрок</th>
                        <th>Результат</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var score in scores)
                    {
                        if (score.NumberOfWins != 0)
                        {
                            <tr>
                                <td>@score.PlayerInfoName</td>
                                <td>@score.NumberOfWins</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            <div class="histo-container">
                <Histogram Scores="scores"/>
            </div>
        </div>
    }
    else
    {
        <br />
        <p>Рекордов нет.</p>
    }
}
else
{
    <br />
    <p>Выберите игру, чтобы увидеть рекорды.</p>
}



@code {
    private List<FoolGameScore>? scores;
    private bool IsGameSelected = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            scores = await DataManager.GetAllScoresAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

        if (scores is not null)
            scores = scores.OrderByDescending(score => score.NumberOfWins).ToList();
    }
    private string selectedBoard = "Выберите игру из списка";
    private List<String> gameRecord = new List<String>() { "Дурак" };
    private void OnGameSelected(ChangeEventArgs e)
    {
        selectedBoard = "Таблица рекордов игры " + e.Value?.ToString() ?? "Выберите игру из списка";

        if (e.Value?.ToString() == "")
        {
            selectedBoard = "Выберите игру из списка";
        }

        if (e.Value?.ToString() == "Дурак")
        {
            IsGameSelected = true;
        }
        else
        {
            IsGameSelected = false;
        }
    }
}
