@page "/thefool"
@rendermode InteractiveServer

@inject PlayerControlService playerControl
@inject IJSRuntime JS

<PageTitle>Дурак</PageTitle>

<h1>Карточная игра "Дурак"</h1>
<h2>Партия № @countOfGames</h2>
<h3>Выбрана карта @IsSelected</h3>

<div class="game-table"> 
    <div class="opponent-cards">
        @if (opponent != null)
        {
            @foreach (var card in opponent.inHand)
            {
                <img src="/Images/back_cyan.png" class="card-back" />
            }
        }
    </div>

    <div class="player-cards">
        @if (player != null)
        {
            @foreach (var card in player.inHand)
            {
                <img src="@card.ImageUrl" alt="Card Image" 
                    class="player-card"  
                    @onclick="SelectCard"  
                    style="cursor: @(card.IsPlayable ? "pointer" : "not-allowed");
                    @(card.IsSelected ? "transform : translateY(-10px); position:fixed;"  : "")"
                    />
            }
        }
    </div>

    <div class="center-table">
        @if (SelectedCards.Count > 0)
        {
            <div class="selected-cards">
                @foreach (var card in SelectedCards)
                {
                    <img src="@card.ImageUrl" class="selected-card" />
                }
            </div>
        }
    </div>

    <div class="deck">
        @if (deck != null && deck.CardsAmount > 0)
        {
            <img src="@Deck.s_trumpCard.ImageUrl" class="trump-card" />
            <img src="/Images/back_cyan.png" class="deck-back">
        }
        else if (deck != null)
        {
            <img src="/Images/@Deck.TrumpSuitImageURL" class="trump-suit" />
        }


    </div>

    <div class="controls">
        <button @onclick="Play">Походить</button>
        <button @onclick="DrawCards">Взять карты</button>
        <button @onclick="EndTurn">Завершить ход</button>
    </div>
</div>

@code {
    private bool IsSelected = false;
    Player? player;
    Player? opponent;
    Deck? deck;
    private Table table = new Table();
    private int countOfGames = 0;
    private List<Card> SelectedCards { get; set; } = new List<Card>();
    protected override void OnInitialized()
    {
        countOfGames++;
        deck = new Deck();
        deck.Shuffle();
        deck.Trump();
        player = new Player();
        opponent = new Player();
        player.RefillHand(deck);
        opponent.RefillHand(deck);
        foreach (var card in opponent.inHand)
        {
            card.IsPlayable = false;
        }
    }
    private void SelectCard()
    {
        IsSelected = !IsSelected;
    }
    private void SelectPlayerCard(Card card)
    {
        IsSelected = !IsSelected;
        card.IsSelected = IsSelected;
        if (card.IsSelected)
        {
            SelectedCards.Add(card);
        }
        else
        {
            SelectedCards.Remove(card);
        }
    }

    private void DrawCards()
    {

    }
    private void EndTurn()
    {
        SelectedCards.Clear();
        if (player != null)
        {
            foreach (var card in player.inHand)
            {
                card.IsSelected = false;
            }
        }

    }
    private void Play() { }
}

<TheFoolRules />