@page "/thefool"

@inject PlayerControlService playerControl

<PageTitle>Дурак</PageTitle>

<h1>Карточная игра "Дурак"</h1>
<h2>Партия № @countOfGames</h2>

<div class="game-table" style="background-image: url('/Images/bg-extra.jpg');">
    <div class="opponent-cards">
        @foreach (var card in opponent.inHand)
        {
            <img src="/Images/card-back-2.jpg" class="card-back" />
        }
    </div>

    <div class="player-cards">
        @foreach (var card in player.inHand)
        {
            <img src="@card.ImageUrl" class="player-card @(card.IsSelected ? ".selected" : "" )"
                @onclick="() => SelectPlayerCard(card)" />
        }
    </div>

    <div class="center-table">
        @if (SelectedCards.Count > 0)
        {
            <div class="selected-cards">
                @foreach (var card in SelectedCards)
                {
                    <img src="@card.ImageUrl" class="selected-card" />
                }
            </div>
        }
    </div>

    <div class="deck">
        <img src="@Deck.s_trumpCard.ImageUrl" class="trump-card" />
        <img src="/Images/card-back-2.jpg" class="deck-back">

    </div>

    <div class="controls">
        <button @onclick="Play">Походить</button>
        <button @onclick="DrawCards">Взять карты</button>
        <button @onclick="EndTurn">Завершить ход</button>
    </div>


</div>

@code {
    Player? player;
    Player? opponent;
    Deck? deck;
    private Table table = new Table();
    private int countOfGames = 0;
    private List<Card> SelectedCards { get; set; } = new List<Card>();
    protected override void OnInitialized()
    {
        countOfGames++;
        deck = new Deck();
        deck.Shuffle();
        deck.Trump();
        player = new Player();
        opponent = new Player();
        player.RefillHand(deck);
        opponent.RefillHand(deck);
        foreach (var card in opponent.inHand)
        {
            card.IsPlayable = false;
        }
    }
    private void SelectPlayerCard(Card card)
    {
        card.IsSelected = !card.IsSelected;
        if (card.IsSelected)
        {
            SelectedCards.Add(card);
        }
        else
        {
            SelectedCards.Remove(card);
        }
    }

    private void DrawCards()
    {

    }
    private void EndTurn()
    {
        SelectedCards.Clear();
        foreach (var card in player.inHand)
        {
            card.IsSelected = false;
        }
    }
    private void Play() { }
}

<TheFoolRules />