@page "/thefool"
@rendermode InteractiveServer

@inject PlayerControlService playerControl

<PageTitle>Дурак</PageTitle>


<h1>Карточная игра "Дурак"</h1>
<h2>Партия № @countOfGames</h2>

<div class="game-table">
    <div class="opponent-cards">
        <Opponent opponent="opponent"/>
    </div>

    <div class="player-cards">
        <PlayerHand player="player" table="table" />
    </div>

    @if (isAttack)
    {
        <div class="center-table">
            @if (SelectedCards.Count > 0)
            {
                <div class="selected-cards">
                    @foreach (var card in SelectedCards)
                    {
                        <img src="@card.ImageUrl" class="selected-card" @onclick="() => SelectCardToBeat(card)"
                            style="cursor:pointer; @(!card.IsCanToBeat ? "background-color:teal; border-radius: 5%; border: 5px solid teal;"  : "")" />
                    }
                </div>
            }
        </div>
    }

    <div class="deck">
        <GameDeck deck="deck" />
    </div>

    <div class="controls">
        <button @onclick="Play" disabled="@(!isAttack)">@PlayButton</button>
        <button @onclick="DrawCards">Взять карты</button>
        <button @onclick="EndTurn">Завершить ход</button>
    </div>
</div>

@code {
    private bool isAttack = true;
    Player? player;
    Player? opponent;
    Deck? deck;
    private Table table = new Table();
    private int countOfGames = 0;
    private string PlayButton = "Походить";
    private List<Card> SelectedCards { get; set; } = new List<Card>();
    protected override void OnInitialized()
    {
        countOfGames++;

        deck = new Deck();
        deck.Shuffle();
        deck.Trump();

        player = new Player();
        opponent = new Player();

        player.RefillHand(deck);
        opponent.RefillHand(deck);
    }
    private void SelectPlayerCard(Card card)
    {
        if (card.IsPlayable && player != null)
        {
            if (player.CanBeSelected(table))
            {
                card.IsSelected = !card.IsSelected;
                player.RefreshPlayable();

            }
        }
    }

    private void SelectCardToBeat(Card card)
    {
        card.IsCanToBeat = !card.IsCanToBeat;

        if (player != null)
            player.RefreshPlayableForBeat(card);

    }

    private void DrawCards()
    {
        if (player != null && table != null)
        {
            playerControl.TakeCards(table, ref player);
        }

        EndTurn();

    }
    private void EndTurn()
    {
        SelectedCards.Clear();

        if (player != null)
        {
            foreach (var card in player.inHand)
            {
                card.IsSelected = false;
                card.IsCanToBeat = true;
            }
        }

        isAttack = true;
        PlayButton = "Походить";

        table.ClearTable();

        if (player != null && deck != null)
        {
            player.RefillHand(deck);
            player.IsAttack = !player.IsAttack;
        }

    }
    private void Play()
    {
        if (player != null)
        {
            if (!isAttack)
            {

                foreach (var card in player.inHand)
                {
                    if (card.IsPlayable)
                    {
                        isAttack = true;
                        break;
                    }
                }

            }

            SelectedCards.AddRange(player.Attack(table));

            if (SelectedCards.Count == 0)
            {
                PlayButton = "Походить";
            }
            else
            {
                PlayButton = "Подкинуть";
            }

            player.IsAttack = false;
        }
    }
}

<TheFoolRules />